@import '../../../mixins';

.navbar {
  @include flex-container(space-between, center);
  @include padding(0, 0, 0, 67px);

  &__item {
    @include nav-item;
  }

  &__link {
    position: relative;
    @include nav-link;

    &:hover::before {
      display: block;
    }

    &::before { 
      @include nav-line-hover;
    }           

    &:hover {
        @include text-white;
    }
  }

  &__dropdown {
    @include overflow;

    &:hover .navbar__dropbtn {
      @include text-white;
    }

    &:hover .navbar__dropdown-list {
      @include display-block;
    }
  }

  &__dropbtn {
    @include flex-container(space-between, center);

    &__link {
      @include nav-link;
      @include margin(0, 0, 0, 0);
    }

    // &:hover::before {
    //   // display: block;
    // }

    // &::before { 
    //   @include nav-line-hover;
    // }
    
    & svg {
      @include text-grey;
      @include size(14px, 14px);
      @include margin(0, 0, 0, 9px);
    }
  }

  &__dropdown-list {
    @include dropdown-list;

    & .navbar__link {
      @include dropdown-list-link;
      @include padding(12px, 16px, 12px, 16px);
      
      &:hover {
        @include dropdown-list-link-hover;
      }

      &:hover::before {
        display: none;
      }
    }
  }
}
  
  