.user-menu {
    @include flex-container(space-between, center);
    @include padding(0, 0, 0, 91px);

    &__search {
        @include size(14px, 14px);
        @include text-white;
    }

    &__dropdown {
        @include dropdown;
        @include padding(0, 82px, 0, 0);

        &:hover .user-menu__dropdown-list {
            display: block;
        }

        
    }
    
    &__dropbtn {
        padding: 5px;
        padding-left: 25px;
        width: 80px;
        @include text-white;
        @include flex-container(space-between, center);

        & svg {
            @include text-white;
            @include size(14px, 14px);
        }
    }
    
    &__dropdown-list {
        display: none;
        position: absolute;
        width: 50px;
        @include text-white;

        @include margin(0, 0, 0, 25px);
        @include dropdown-list-link-hover;
    }

    &__list-item {
        color: black;
        padding: 2px 40px 2px 10px;
        text-decoration: none;
        display: block;

        &:hover {
            @include dropdown-list-link-hover;
        }
    }

    &__registration {
        
    }

    &__sign {
        @include text-white;
        text-decoration: none;

        &_in {
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            @include padding(4px, 35px, 4px, 44px);
        }
    
        &_up {
            @include padding(23px, 40px, 21px, 35px);
        }
    }
}